html,body{
    height: 100%;
}
body{
    margin: 0;
    background: url(web.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2D2A2A;
  }
  
  li {
    float: left;
    font-size: 18px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  li a:hover {
    opacity: 0.4;  
}
  main{
      text-align: center;
      float: left;
      margin-left: 45%;
      margin-top: 22%;
      color: white;
      opacity: 0.7;
      line-height: 25px;
  }
  h3{
      font-weight: 200;
  }
  #head{
      font-size: 28px;
  }
  #info{
      font-size: 13px;
  }